navbar-cmpt {

    $navbar-height: 70px;

    .navbar {
        display: flex;
        background-color: $dark-gray;
        color: white;
        overflow-x: auto;
        overflow-y: hidden;
        height: $navbar-height;

        justify-content: center;
        .container {

            display: flex;
            flex-direction: row;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }



    .navlinks {
        display: flex;

        &.left {
            flex: 1;
        }

        li {
            display: flex;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 1rem;
            transition: background-color .3s;

            &[disabled] {
                color: #ccc;
                cursor: default;
            }

            &.brand {
                font-size: 1.5rem;
            }

            &:not([disabled]){
                &:hover, &.active {
                    background-color: darken($dark-gray, 5%);
                }
            }

            i {
                font-size: 2.5rem;
                height: $navbar-height;
                width: $navbar-height;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                height: 50px;
            }

            span.has-icon {
                padding-left: .5rem;
            }

            span {
                padding: 0 25px;
            }

            // @media screen and (max-width: $break-small) {

            //     &:not(.active) {
            //         display: none;
            //     }
            // }
        }

    }

}