<!-- Example Component -->
<nav class="navbar">
  <div class="container">
    <ul ng-repeat="(side, navLinks) in $ctrl.data.navLinkList" class="navlinks {{side}}">
      <li ng-repeat="link in navLinks">
        <a ng-href="{{link.disabled ? '#' : link.url}}" 
            ng-class="{'active': $ctrl.isCurrentPath(link.url), 'brand': link.brand}"
            ng-disabled="link.disabled">
          <i ng-show="link.icon" class="fa fa-{{link.icon}}"></i>
          <img ng-show="link.img" ng-src="{{link.img}}">
          <span ng-show="link.label" ng-bind="link.label" ng-class="{'has-icon': link.icon}"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>